body, html {
  font-family: sans-serif, "Hiragino Sans W4","ヒラギノ角ゴシック W4";
  color: #3d3f44;
  line-height: 1.5;
  font-size: 14px;
  word-wrap: break-word;
  background-color: #f8fafc;
  font-weight: normal;
}
body , html {
  padding:0; 
  margin:0; 
  height: 100%;
}

/*中略*/

#footer {
  position: absolute; /*　変更*/
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: red;
}
.btn {
  font-size: 14px;
}

.text-dark {
  color: #636f83 !important;
}

button {
  font-size: 14px;
}

.number-1, .number-2, .number-3, .number-4, .number-5, .number-6, .number-7, .number-8, .number-9, .number-10  {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
}

.number-1 {
  background-color: #e2c731;
}

.number-2 {
  background-color: #ddd;
}

.number-3 {
  background-color:#ba7f56;
}

.number-4, .number-5, .number-6, .number-7, .number-8, .number-9, .number-10 {
  background-color:#333;
}

.title-border {
  border-bottom: 3px solid #eee;
  margin-bottom: 16px;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.event-card {
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid #e9e9e9;
}

.title-url {
  font-size: 14px;
}

.nav-link {
  color: #333;
}

.nav-link:hover {
  color: #333;
}

.header-nav {
  background: #fff;
  padding:5px 0;
}

.card-title {
  font-size: 17px;
  margin: 0;
  color: #3d3f44;
  font-weight: 700;
  line-height: 1.2;
}

.card-title:hover {
  color: #3d3f44;
}

.home-card-title {
  font-size: 18px;
  margin: 0;
  color: #666;
  font-weight: 700;
  line-height: 1.2;
}

.rank-title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  text-transform: none;
  line-height: 1.4;
}

.event-title {
  width: 90%;
  display: block;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  font-weight: 400;
  font-size: 13px;
}

.image-block {
  width: 100%;
  height: auto;
}

.home-block {
  padding-bottom: 0;
  border: 1px solid #eee;
}

.ranking-header, .contact-header {
  background:#64b5f6;
  padding: 10px 0 10px 20px;
}

.home-title-second {
  background:  #333;
  padding: 10px 0 10px 20px;
  font-size: 14px;
  margin-bottom: 0;
}

.nav-item:hover {
  text-decoration: underline;
  color: inherit;
}

.submit {
  background-color: #58a9ef;
}

h3 {
  color: #333;
}

.top-block {
  background:#f5f5f5;
}

.search-title {
  font-size: 16px;
}

.search-card {
  background-color: #fff;
  border: 2px solid #e9e9e9;
  height: 450px;
  padding: 24px 24px 0 24px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #333;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
}

.site-btn {
  background: #0e7ac4;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  background: #fff;
}

.btn-default {
  background: #eeeeee;
  background: -moz-linear-gradient(top, #fafafa 0%, #fafafa 50%, #eeeeee 51%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(50%,#fafafa), color-stop(51%,#eeeeee), color-stop(100%,#eeeeee));
  background: -webkit-linear-gradient(top, #fafafa 0%,#fafafa 50%,#eeeeee 51%,#eeeeee 100%);
  background: -o-linear-gradient(top, #fafafa 0%,#fafafa 50%,#eeeeee 51%,#eeeeee 100%);
  background: -ms-linear-gradient(top, #fafafa 0%,#fafafa 50%,#eeeeee 51%,#eeeeee 100%);
  background: linear-gradient(to bottom, #fafafa 0%,#fafafa 50%,#eeeeee 51%,#eeeeee 100%);
  border: 1px solid #b6b6b6;
  color: #333;
  text-shadow: 0 1px 1px rgb(255 255 255 / 75%);
}

.number {
  font-size: 20px;
}
.date {
  color: #c0392b;
}

.top-text {
  color: #666!important;
  font-family: sans-serif;
}

.connpass-block {
  width: 90px;
  height: auto;
}

.catch {
  font-size: 12px;
  color: #666;
}

.navbar-toggler{
  border-color: #333;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(51,51,51,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo-block {
  height: auto;
  width: 180px;
}

.home-item {
  font-size: 13px;
}
.card-item {
  font-size: 13px;
}

.like-button {
  font-size: 13px;
  color: #ccc;
}

.like-button:hover {
  color: #ccc;
}

.page-item {
  margin-right: 7px;
}

.connpass-logo {
  width: 60px;
  height: auto;
}

.form-control option[selected] {
  background-color: #fff;
}

.btn-dark {
  color: #fff;
  background-color: #636f83;
  border-color: #636f83;
}

.liked {
  color:#ea3f60;
}

.liked:hover {
  color:#ea3f60;
}

.ranking-text {
  color: #3d3f44;
}

.ranking-text:hover {
  color: #3d3f44;
}

.trash {
  color: #ea3f60;
}

.trash:hover {
  color: #ea3f60;
}

.footer {
  background-color: #f5f5f5;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

.footerFixed{
  min-height: 100vh; 
  position: relative;
  padding-bottom: 50px; 
  box-sizing: border-box;
}
@media screen and (max-width:440px){
  .logo{
      margin-left: 14px;
  }

  .navbar-nav {
    margin-left: 14px;
  }
}