.number-1, .number-2, .number-3, .number-4, .number-5, .number-6, .number-7, .number-8, .number-9, .number-10  {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 15px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #fff;
}

.number-1 {
  background-color: #e2c731;
}

.number-2 {
  background-color: #ddd;
}

.number-3 {
  background-color:#ba7f56;
}

.number-4, .number-5, .number-6, .number-7, .number-8, .number-9, .number-10 {
  background-color:#333;
}

.title-border {
  border-bottom: 3px solid #eee;
  margin-bottom: 16px;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.event-card {
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
}

.title-url {
  font-size: 14px;
}

.aside {
  width: 350px;
}

.footerFixed{
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  padding-bottom: 60px; /* ←フッターの高さを指定 */
  box-sizing: border-box;
  /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

footer{
  position: absolute;/* ←絶対位置 */
  bottom: 0;
  display: flex;
  flex: 0 0 50px;
  flex-wrap: wrap;
  align-items: center;
  height: 50px;
  color: #3c4b64;
  background: #f8fafc;
  padding: 0 1rem;
  width: 100vw;
}

.nav-link {
  color: #333;
}

.nav-link:hover {
  color: #333;
}

.header-nav {
  background: #fff;
}

.contact-container {
  height: 550px;
}

.card-block {
  width:290px; 
}

.card-title {
  font-size: 17px;
  margin: 0;
  color: #16a085!important;
  font-weight: 700;
}

.home-card-title {
  font-size: 18px;
  margin: 0;
  color: #322b29!important;
}

.rank-title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  text-transform: none;
  line-height: 1.4;
}

.event-title {
  width: 90%;
  display: block;
  line-height: 24px;
  height: 24px;
  overflow: hidden;
  font-weight: 500;
}

.image-block {
  width: 100%;
  height: auto;
}

.home-block {
  padding-bottom: 0;
  border: 1px solid #eee;
}

.ranking-header, .contact-header {
  background:#64b5f6;
  padding: 10px 0 10px 20px;
}

.home-title-second {
  background:  #333;
  padding: 10px 0 10px 20px;
  font-size: 14px;
  margin-bottom: 0;
}

.nav-item:hover {
  text-decoration: underline;
  color: inherit;
}

.submit {
  background-color: #58a9ef;
}

h3 {
  color: #333;
}

.top-block {
  background:#f5f5f5;
}

.search-title {
  font-size: 16px;
}

.search-card {
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 15%);
  height: 330px;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #333;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  justify-content: center;
}

.site-btn {
  background: #0e7ac4;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  background: #fff;
}

.btn-default {
  background: #eeeeee;
  background: -moz-linear-gradient(top, #fafafa 0%, #fafafa 50%, #eeeeee 51%, #eeeeee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(50%,#fafafa), color-stop(51%,#eeeeee), color-stop(100%,#eeeeee));
  background: -webkit-linear-gradient(top, #fafafa 0%,#fafafa 50%,#eeeeee 51%,#eeeeee 100%);
  background: -o-linear-gradient(top, #fafafa 0%,#fafafa 50%,#eeeeee 51%,#eeeeee 100%);
  background: -ms-linear-gradient(top, #fafafa 0%,#fafafa 50%,#eeeeee 51%,#eeeeee 100%);
  background: linear-gradient(to bottom, #fafafa 0%,#fafafa 50%,#eeeeee 51%,#eeeeee 100%);
  border: 1px solid #b6b6b6;
  color: #333;
  text-shadow: 0 1px 1px rgb(255 255 255 / 75%);
}

.number {
  font-size: 20px;
}
.date {
  color: #c0392b;
}

.top-text {
  color: #666!important;
}

.connpass-block {
  width: 90px;
  height: auto;
}

.home-catch {
  font-size: 12px;
  color: #666;
}

.catch {
  font-size: 12px;
}

.navbar-toggler{
  border-color: #333;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(51,51,51,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo-block {
  width: 170px;
  height: auto;
}

.home-item {
  font-size: 13px;
}
.card-item {
  font-size: 13px;
}