.number-1 {
  height: 24px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: #e2c731;
}

.number-2 {
  height: 24px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: #ddd;
}

.number-3 {
  height: 24px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color:#ba7f56;
}

.number-4, .number-5, .number-6, .number-7, .number-8, .number-9, .number-10 {
  height: 24px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color:#333;
}

.title-border {
  border-bottom: 3px solid #333;
  margin-bottom: 20px;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.event-card {
  background-color: #fff;
  border: 1px solid #d8dbe0;
  border-radius: 0.25rem;
}

.home-title {
  font-size: 16px;
  margin: 0;
}

.title-url {
  font-size: 14px;
}

.aside {
  width: 350px;
}

.footerFixed{
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  padding-bottom: 60px; /* ←フッターの高さを指定 */
  box-sizing: border-box;
  /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

footer{
  position: absolute;/* ←絶対位置 */
  bottom: 0;
  display: flex;
  flex: 0 0 50px;
  flex-wrap: wrap;
  align-items: center;
  height: 50px;
  color: #3c4b64;
  background: #f8fafc;
  padding: 0 1rem;
  width: 100vw;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0.25rem;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
